{% extends 'navbar.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}

{% block body_block %}
    {% if search %}
        {% for user in result %}
            <br>
            <div class="container">
        <div class="row">
        <div class="col-sm-2" style="padding-left: 120px">

            {% if user.user_profile.profile_pic %}
            <img src="/media/{{ user.user_profile.profile_pic }}" width="40px" height="40px" class="rounded-circle" ><span class="sr-only">(current)</span>
            {% else %}
            <img src="/media/profile_pics/default.png" width="40px" height="40px" class="rounded-circle"><span class="sr-only">(current)</span>
            {% endif %}

        </div>

        <div class="col-sm-10">

            <a href="{% url 'App_Login:user_other' username=user.username %}">{{ user.username }}</a>
            <br>
            {{ user.user_profile.full_name }}

        </div>

        </div>
            </div>

        {% endfor %}

    {% else %}
        <div class="container">
        <br>
        <div class="row">
        <div class="col-sm-8">
            {% for post in posts %}
                <div style="border: 1px solid #ddd;">
                <div>
                    {% if post.author.user_profile.profile_pic %}
            <img src="/media/{{ post.author.user_profile.profile_pic }}" width="40px" height="40px" class="rounded-circle" ><span class="sr-only">(current)</span>
            {% else %}
            <img src="/media/profile_pics/default.png" width="40px" height="40px" class="rounded-circle"><span class="sr-only">(current)</span>
            {% endif %}
                <a href="{% url 'App_Login:user_other' username=post.author %}">{{ post.author }}</a>

                </div>
                <br>
                <img src="/media/{{ post.image }}" width="100%">
                <div style="padding: 20px">
                    <h3>{{ post.caption }}</h3>
                    {% if post.pk in liked_post_list %}

                       <a href="{% url 'App_Posts:unliked' pk=post.pk %}"><i class="fas fa-heart" style="font-size: 36px"></i></a>
                    {% else %}
                        <a href="{% url 'App_Posts:liked' pk=post.pk %}"><i class="far fa-heart" style="font-size: 36px"></i></a>
                    {% endif %}




                </div>

                </div>
            {% endfor %}

        </div>



        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-4">
                    {% if user.user_profile.profile_pic %}
            <img src="/media/{{ user.user_profile.profile_pic }}" width="80px" height="80px" class="rounded-circle" ><span class="sr-only">(current)</span>
            {% else %}
            <img src="/media/profile_pics/default.png" width="80px" height="80px" class="rounded-circle"><span class="sr-only">(current)</span>
            {% endif %}

                </div>
                <div class="col-sm-8">
                    <b>{{ user.username }}</b>
                    <br><br>
                    <b>{{ user.user_profile.full_name }}</b>

                </div>


            </div>

        </div>

        </div>
        </div>



    {% endif %}



{% endblock %}

