{% extends 'navbar.html' %}
{% load crispy_forms_tags %}

{% block title %}
{{ title }}
{% endblock %}

{% block css_block %}
<style>
.crop{
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.crop img{
     width: 400px;
    height: 300px;
    margin:-85px 0 0 -110px;
}
</style>


{% endblock %}


{% block body_block %}
    <br>
<div class="container">
<div class="row">
<div class="col-sm-4" style="padding-left: 70px">
    {% if user.user_profile.profile_pic %}
        <img src="/media/{{ user.user_profile.profile_pic }}" width="230px" height="240px" class="rounded-circle"><span class="sr-only">(current)</span>
    {% else %}
        <img src="/media/profile_pics/default.png" width="230px" height="240px" class="rounded-circle"><span class="sr-only">(current)</span>
    {% endif %}
</div>

<div class="col-sm-8">
<h3>{{ user.username }} <a href="{% url 'App_Login:edit_profile' %}" class="btn btn-light">Edit Profile</a></h3>
    <h4>{{ user.post.count }} Posts &nbsp;&nbsp; {{ user.follower.count }} Followings &nbsp;&nbsp; {{ user.following.count }} Followers </h4>
    <br>
    <h3>{{ user.user_profile.full_name }}</h3>
    <h6>{{ user.user_profile.description }}</h6>
</div>
</div>
<br>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="margin-left: 115px;">
  Post Image
</button>

<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Post Image</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-info btn-sm">Post</button>

        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

      </div>

    </div>

  </div>
</div>
</div>
    <div class="container" style="margin-top: 10px;">
    <div class="row">

        {% for post in user.post.all %}

            <div class="crop">

            <img src="/media/{{ post.image }}">
            </div>

        {% endfor %}
    </div>
<br><br>
    </div>

{% endblock %}
